
.fb-header{
    background:#3d5b99;
	color:white;
	font-family:verdana;
padding: -20px;
}
.log-form 
{
  
     margin-left:1000px  ;	
     padding-right: -50px;
     font-size: 15px;

}
.log-form input[type="submit"] 
{
  margin-top:   -40px; 
  color:black; 
background: blue;
border-bottom-color: blue;
}


body
{
	background:rgba(235 ,237, 240);

    
    
font-size: 10px;    
    
}

.mydiv
{
margin-left: 500px;
    margin-top: 80px;
text-align: left;    

}

.mydiv input[type="text"],.mydiv input[type="password"],.mydiv input[type="Email"],.mydiv input[type="date"]
{
    color: rgba(235 ,237, 240);
    background: white;
    border-radius: 10px;
        border-width: 30px;
    font-size: 15px;
    border: 5px solid rgba(235 ,237, 240);
    
    padding: 8px;
    
}
.mydiv h1
{
    
    font-size: 50px;
}
.mydiv p
{
   font-size:25px

}

.mydiv input[type="submit"]
{
    font-family:serif;
    color: white;
    background-color: limegreen;
    border-radius: 10px;
 font-size: 25px;
    width: 200px;
}
